



    	
    	<div id="backbone-content">
		<!-- Backbone Content Loaded Here  -->

      
      	</div>
    


<script id="main-template" type="text/template">
<!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit skydive">
        <h2><p>Launch Your Life</p></h2>
        <p><a class="btn btn-primary btn-large">Learn more »</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Life Groups</h2>
           <p>Life is meant to be shared! God designed us to experience life together—rejoicing 
           	with each other in successes and standing with each other through hard times.   
           	God has placed within each of us an urge to love others.  
           	A Life Group is a place to do that.  We need each other! </p>
          <p><a class="btn" href="#">View details »</a></p>
        </div>
        <div class="span4">
          <h2>SEO</h2>
           <p>Servant Evangelism Opportunities (SEOs) connect people in a 
           	natural, easy, low-risk, high grace way.<br/>
           	Small things, done with great love.
			It's simple, practical, effective, inexpensive and fun!
			We will regularly have church-wide SE opportunities for people to get involved with.  </p>
          <p><a class="btn" href="#">View details »</a></p>
       </div>
        <div class="span4">
          <h2>Gatherings</h2>
          <p>As we’ve met and grown together throughout the week, it’s good to get together for a 
          	big celebration and worship time.  Our praise gatherings are meant to lift up God, learn from God, 
          	inspire each other, and celebrate all that the Lord has done in our lives.  <br/>
          	Expect the worship in song to be dynamic, relevant, and passionate. Expect the message to be simple, fresh, 
			and profound.  Our prayer is that you walk away filled with life and expectation.  We also hope you’ve  
			gotten to know some new friends. </p>
          <p><a class="btn" href="#">View details »</a></p>
        </div>
      </div>
 </script>
 



<script id="vision-template" type="text/template">
	
	<div class="hero-unit">
		<h1>Vision</h1>
		<p>
		Our Vision is to be a spiritual launching point throughout the Shoals area and a sending base to the ends of the earth.
		</p>
		<p>
		Our strategy is simple: to serve the community and create spiritual environments where people that haven’t been involved in church love to come.
		</p>
		<p>
		Jesus continually challenged the status quo.  Ordinances and traditions that lack meaning or purpose divert our attention from our most important mission, to love others.
		Envision a church full of people who live out their faith in courageous, unselfish ways. Their worship is fresh and passionate. They take on bold ventures to help a suffering world. Jesus is glorified as people are introduced to Him and guided into a life of faith.  See a church that impacts its city through service and shapes a whole region by launching bold ministries.
		</p>
	</div>
</script>



<script id="life-group-template" type="text/template">
	
	<div class="hero-unit">
		<h1>Life Groups</h1>
		
		
		<div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  Couples Group - Sundays @ 6 pm
                </a>
              </div>
              <div id="collapseOne" class="accordion-body in collapse" style="height: auto; ">
                <div class="accordion-inner unselectable">
                    <div>
				      	      
				      <dl>
				        <dt>Letson House :</dt>
				        <dd>1208 East Greer Street,  Sheffield, Al </dd><br/>
				        <dt>Contact Adam Letson: -  (256) 415-7749</dt>
				        
				      </dl>
				    </div>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  VANDIVER Group - Sundays @ 6 pm
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner unselectable">
					<div>
				      		      
				      <dl>
				        <dt>Letson House :</dt>
				        <dd>The Hill (Foyer):    301 HWY 72 West, Tuscumbia, AL</dd><br/>
				        <dt>Led by Joe Vandiver</dt>
				        
				      </dl>
				    </div>

                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                  Ladies Group    Sundays @ 9:30 am
                </a>
              </div>
              <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner unselectable">
					<div>
				      			      
				      <dl>
				        <dt>The Hill (Foyer):    301 HWY 72 West, Tuscumbia, AL </dt>
				        <dd>Led by Janice Thomason</dd><br/>
				        
				        
				      </dl>
				    </div>

                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                  WED Night Group     Wednesday @ 6:30 pm
                </a>
              </div>
              <div id="collapseFour" class="accordion-body collapse">
                <div class="accordion-inner unselectable">
                   <div>
				      			      
				      <dl>
				        <dt>Letson House :</dt>
				        <dd>1208 East Greer Street,  Sheffield, Al </dd><br/>
				        <dt>Contact Adam Letson: -  (256) 415-7749</dt>
				        
				      </dl>
				    </div>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                  Youth Group/ FLIGHT 517   Wednesday 6:30 pm
                </a>
              </div>
              <div id="collapseFive" class="accordion-body collapse">
                <div class="accordion-inner unselectable">
					<div>
				      			      
				      <dl>
				        <dt>301 HWY 72 West, Tuscumbia, AL </dt>
				        <dd>contact: Mike - (256) 412-4329</dd><br/>  
				      </dl>
				    </div>


                </div>             
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
                  Youth Sunday School:   Sundays Mornings
                </a>
              </div>
              <div id="collapseSeven" class="accordion-body collapse">
                <div class="accordion-inner unselectable">
					
					<div>
				      			      
				      <dl>
				        <dt>The Hill (Foyer):    301 HWY 72 West, Tuscumbia, AL </dt>
				        <dd>Young Men: 9 am  Led by David McCreary</dd>
				        <dd>Young Ladies:  9:15 am   Led by Jessica Byrd</dd><br/>
				        <dt>contact: Mike - (256) 412-4329</dt>
				      </dl>
				    </div>


                </div>
              </div>
            </div>
            
            
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
                  College Group     Tuesdays @ 7 pm
                </a>
              </div>
              <div id="collapseEight" class="accordion-body collapse">
                <div class="accordion-inner unselectable">
					<div>
				      			      
				      <dl>
				        <dt>College Group     Tuesdays @ 7 pm </dt>
				        <dd>The Hill    301 HWY 72 West, Tuscumbia, AL</dd>
				        <dd><a title="mailto:launchpointcollege@gmail.com" href="mailto:launchpointcollege@gmail.com">launchpointcollege@gmail.com</a></dd><br/>
				        <dt>Led by the venerable Keith Phillips</dt>
				      </dl>
				    </div>


                </div>
              </div>
            </div>          
		
	</div>	
	
</script>







<script id="seo-template" type="text/template">
	
	<div class="hero-unit">
		<h1>What is an SEO?</h1>
		<p>
		Servant Evangelism Opportunities (SEOs) connect people in a natural, easy, low-risk, high grace way.
		</p>
		<p>
		Who doesn't like to be given a cold Coke on a hot day? Especially by someone who is smiling, happy and having fun?
		</p>
		<p>
		SE wins the heart before it confronts the mind. A small act of kindness nudges a person closer to God, often in a profound way as it bypasses ones mental defenses. The average Christ-follower is willing to hand a stranger a coke on a hot day (low risk). The high grace is seen in the typical reaction. "Oh, thank you!" "This is so nice!" "I can't believe this is for free!" And, "Why are you doing this?"
		SE can come in many forms.  From giving clothes and food to those in need to handing out bottled waters at the park.
		Kindness builds the bridge for the person to receive a touch of love from God.
		</p>
		<p>
		Life Groups can create and organize their own SE outreaches and use these opportunities to build friendships.
		</p> 
		
	</div>
</script>







