<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand logo" href="#home">Launch Point Church</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active" id="menu_home"><a href="#home" >Home</a></li>
              <li id="menu_about"><a href="#about" >About</a></li>
              <li id="menu_contact"><a href="#contact" >Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">



    	
    	<div id="backbone-content">
		<!-- Backbone Content Loaded Here  -->

      
      	</div>
    


<script id="main-template" type="text/template">
<!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit skydive">
        <h2><p>Launch Your Life</p></h2>
        <p><a class="btn btn-primary btn-large">Learn more »</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Life Groups</h2>
           <p>Life is meant to be shared! God designed us to experience life together—rejoicing 
           	with each other in successes and standing with each other through hard times.   
           	God has placed within each of us an urge to love others.  
           	A Life Group is a place to do that.  We need each other! </p>
          <p><a class="btn" href="#">View details »</a></p>
        </div>
        <div class="span4">
          <h2>SEO</h2>
           <p>Servant Evangelism Opportunities (SEOs) connect people in a 
           	natural, easy, low-risk, high grace way.<br/>
           	Small things, done with great love.
			It's simple, practical, effective, inexpensive and fun!
			We will regularly have church-wide SE opportunities for people to get involved with.  </p>
          <p><a class="btn" href="#">View details »</a></p>
       </div>
        <div class="span4">
          <h2>Gatherings</h2>
          <p>As we’ve met and grown together throughout the week, it’s good to get together for a 
          	big celebration and worship time.  Our praise gatherings are meant to lift up God, learn from God, 
          	inspire each other, and celebrate all that the Lord has done in our lives.  <br/>
          	Expect the worship in song to be dynamic, relevant, and passionate. Expect the message to be simple, fresh, 
			and profound.  Our prayer is that you walk away filled with life and expectation.  We also hope you’ve  
			gotten to know some new friends. </p>
          <p><a class="btn" href="#">View details »</a></p>
        </div>
      </div>
 </script>
 



<script id="about-template" type="text/template">
	<h1>All your About stuff goes here</h1>
</script>