
$primaryButtonBackground: #f00;



@import "camera.css";
@import "bootstrap.css";


body {
  padding-top: 90px;
  padding-bottom: 40px;
}
  
  
@import "bootstrap-responsive.css";


a {
  color: #09f;
}
a:hover {
  text-decoration: none;
}
#back_to_camera {
  clear: both;
  display: block;
  height: 80px;
  line-height: 40px;
  padding: 20px;
}
.fluid_container {
  margin: 0 auto;
  //max-width: 1000px;
  width: 100%;
}
    





